<mdb-card cascade="true" wider="true">
    <mdb-card-img src="assets/img/logo_kogoro.png"></mdb-card-img>
    <mdb-card-body cascade="true" class="text-center">
        <h4 class="card-title">
            {{numero.titulo}}
        </h4>
        <mdb-card-text>
            Descargar PDF
        </mdb-card-text>
        <a class="icons red-text" [href]="numero.url" download>
            <mdb-icon fas icon="file-download" size="2x">
            </mdb-icon>
        </a>
    </mdb-card-body>
</mdb-card>