<div class="container animated fadeIn">
    <div class="row text-justify">
        <div class="col">
                <h2>La revista</h2>
                <p>La revista de estudiantes de antropología de la Universidad de Antioquia, Kogoró, es un espacio abierto para la
                    publicación de trabajos investigativos, reflexiones y material visual, especial mas no exclusivamente, de los
                    estudiantes de antropología de la Universidad de Antioquia. Sus esfuerzos se dirigen a posibilitar un espacio para
                    el encuentro y la formación académica de los estudiantes de este departamento. Actualmente, la revista ha publicado
                    nueve números con una periodicidad anual. Circula en versión impresa y en formato digital, disponible en:
                    www.udea.academia.edu/RevistaKogoro.</p>
                    <router-outlet></router-outlet>
        </div>
    </div>
</div>