<h2>Contacto</h2>
<li>Correo: revistakogoro@udea.edu.co</li>
<li>Facebook: www.facebook.com/revistakogoro/</li>
<li>Instagram: www.instagram.com/revistakogoro/</li>
<li>Youtube: www.youtube.com/channel/UChwfMtRUg67XsnJrqNk6Erw</li>
<li>Academia: www.udea.academia.edu/RevistaKogoro</li>
<li>Aprende en línea: (todavía no existe)</li>
<br>
<form class="text-center border border-light p-5" action="#!">
    <p class="h4 mb-4">Contáctanos</p>
    <input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="Nombre">
    <input type="email" id="defaultContactFormEmail" class="form-control mb-4" placeholder="E-mail">
    <div class="form-group">
        <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3"
            placeholder="Mensaje"></textarea>
    </div>
    <div class="custom-control custom-checkbox mb-4">
        <input type="checkbox" class="custom-control-input" id="defaultContactFormCopy">
        <label class="custom-control-label" for="defaultContactFormCopy">Enviarme una copia de este mensaje</label>
    </div>
    <button class="btn btn-info" type="submit">Enviar</button>

</form>