<h2>Comite Editorial</h2>

<p>El comité editorial de la Revista Kogoró está conformado por estudiantes del pregrado de antropología de la
    Universidad de Antioquia, quienes se encargan de las siguientes funciones:</p>

<ul>
    <li>La publicación de la convocatoria.</li>
    <li>La recepción de textos destinados para la evaluación.</li>
    <li>La evaluación inicial y selección de los textos postulados.</li>
    <li>La corrección del estilo de los textos, en coherencia con las normas establecidas previamente en los parámetros
        para
        autores.</li>
    <li>Búsqueda de asesores para la complementación de los textos.</li>
    <li>La retroalimentación dirigida a los autores.</li>
    <li>La decisión final sobre la publicación de los textos.</li>
    <li>La publicación de los números de la revista.</li>
    <li>La organización de eventos y espacios de formación.</li>
    <li>La divulgación de contenidos por redes sociales.</li>
</ul>

<h2>Pertenencia al Comité</h2>
<p>Para hacer parte del Comité es necesario ser estudiante activo del pregrado en Antropología de la Universidad de
    Antioquia, tener interés por los procesos editoriales y contactar al Comité Editorial a través del correo
    electrónico revistakogoro@udea.edu.co, manifestando su interés en hacer parte de este.</p>
<p>La permanencia en el Comité se dará por concluida según la voluntad del integrante, la pérdida de la calidad de
    estudiante o el incumplimiento con las funciones y responsabilidades asignadas.</p>
<h2>Integrantes actuales</h2>
<ul>
    <li>Ana Cristina Arango Taborda</li>
    <li>Miguel Arredondo Uribe</li>
    <li>Jorge Enrique Casas Mosquera</li>
    <li>Esteban Jaramillo Rojo</li>
    <li>Laura Ximena Miranda Galvis</li>
    <li>Claudia Yuliet Ospina Ospina</li>
    <li>Jessica Pérez Álvarez</li>
    <li>Valentina Rodríguez Gómez</li>
    <li>Manuela Velásquez Botero</li>
    <li>Ana Isabel Vélez Villegas</li>
</ul>

<h2>Integrantes anteriores</h2>
<ul>
    <li>Anderson Aguirre (número 7)</li>
    <li>Daniela Arango Ruda (números 5, 6, 7)</li>
    <li>Sara Baena Cardona (números 4, 5, 6, 7)</li>
    <li>Verónica Builes Carmona (números 2, 3, 4)</li>
    <li>Daniela Cardona Londoño (números 6, 7)</li>
    <li>Julián Eduardo Castañeda (números 2, 3, 4, 5, 6, 7)</li>
    <li>Ricardo Cortázar Orozco (números 3, 4)</li>
    <li>Jesús Alexander Gallego Cano (números 3, 4, 5, 6)</li>
    <li>Juan Felipe Gallo Tabares (número 2)</li>
    <li>Julián Garay Sandoval (número 8)</li>
    <li>Sara Lopera Vélez (números 4, 5, 6, 7)</li>
    <li>Kevin Manco Giraldo (números 6, 7)</li>
    <li>Mateo Muñetones Rico (número 7)</li>
    <li>Herlen Murieles (números 4, 5)</li>
    <li>María Camila Murillo (números 6, 7, 8)</li>
    <li>Germán Negrette Andrade (números 2, 3, 4, 5, 6)</li>
    <li>Sara Ortega Ramírez (números 6, 7)</li>
    <li>Estefanía Ramírez Ceballos (número 8)</li>
    <li>Carlos E. Sánchez Toro (números 2, 3)</li>
    <li>Ana Cristina Soto (números 2, 3, 4)</li>
    <li>Andrés Felipe Vélez (número 7)</li>
    <li>Jessica María Villa (número 7, 8)</li>
    <li>Pablo Arturo Zábala Moreno (números 4, 5, 6, 7)</li>
    <li>Madelyne Zapata Cardona (números 7, 8)</li>
    <li>Jasón Zuluaga Figueroa (número 2)</li>
</ul>

<h2>Equipo institucional de apoyo y financiación</h2>
<p>La Revista Kogoró recibe acompañamiento y apoyo económico de la Maestría en Antropología, el pregrado de Antropología
    y el Laboratorio de Comidas y Culturas del Departamento de Antropología de la Universidad de Antioquia. Igualmente,
    parte de los recursos para su funcionamiento se deriva de la venta de revistas, naipes y actividades ocasionales
    para la recaudación de fondos.
</p>