<h1>Proceso de publicación</h1>
<p>La Revista de estudiantes de Antropología de la Universidad de Antioquia se encuentra en convocatoria permanente y
    recibe textos inéditos y originales de carácter académico a través del correo electrónico revistakogoro@udea.edu.co.
    Al recibir los artículos, el Comité Editorial lleva a cabo una primera etapa del proceso de evaluación, que valora
    los aspectos de estructura, cohesión y coherencia para determinar cuáles textos pasan a la siguiente etapa y son
    devueltos a los autores con comentarios y sugerencias. En un segundo momento, evaluadores expertos valoran la
    solidez conceptual y metodológica de los textos y problematizan o sugieren elementos para mejorarlos. Cuando el
    Comité Editorial recibe la versión definitiva del artículo, toma una decisión final sobre su publicación. Es por eso
    que la recepción de textos no implica necesariamente que vayan a ser publicados. Los autores son los responsables
    directos de las ideas, juicios, opiniones y enfoques expuestos en sus textos y el hecho de publicarlos no significa
    que el Comité Editorial de la Revista Kogoró los comparta.</p>

<router-outlet></router-outlet>