<h3>Acerca de los tipos de texto</h3>
<p>Las diferentes modalidades de texto que la Revista Kogoró acepta para los procesos de evaluación y publicación se
    enumeran a continuación: </p>
<h4>Artículo científico</h4>
<p>Es un texto cuya finalidad es presentar los resultados de investigaciones, ideas y debates científicos de manera
    clara, concisa y veraz. Tiene un título descriptivo y se compone de resumen, introducción, metodología, resultados,
    conclusiones y referencias. </p>
<h4>Ensayo</h4>
<p>Es un texto que presenta un punto de vista acerca de un tema particular de forma argumentativa, reflexiva o
    expositiva. Suele estar guiado por una pregunta y tiene un estilo de escritura más libre.</p>
<h4>Reseña</h4>
<p>Es un texto corto en el que se presenta y sintetiza un libro. Contiene una breve contextualización del autor y la
    obra, su tesis central y estructura, además de un comentario crítico sobre su validez, relevancia o aporte al
    conocimiento. Se privilegiarán las reseñas de libros de publicación reciente o que por su desconocimiento
    generalizado puedan divulgarse mejor con una reseña.</p>
<h4>Ensayo visual</h4>
<p>Es un formato en el que la imagen prima sobre el texto y donde se expone argumentativamente un punto de vista de un
    tema específico sobre y a través de las imágenes. Contiene entre 5 y 10 imágenes. En este caso, las imágenes pueden
    ser fotografías, mapas, dibujos o ilustraciones y deben ser de autoría de quien envía el ensayo. En cuanto a las
    fotografías, se permite revelado, pero no edición (a menos que esté metodológicamente justificada) y en caso de
    incluir personas con rostros identificables, el autor debe anexar el consentimiento informado de los sujetos
    retratados o una declaración en la que se exima a la revista de toda responsabilidad. La Revista Kogoró se abstiene
    de publicar retratos de menores de edad.
</p>
<h4>Entrevista</h4>
<p>Es un texto donde se transcribe una conversación sostenida entre dos o más personas donde una de ellas realiza
    preguntas sobre un tema particular. Se debe hacer una contextualización de la entrevista, de la persona entrevistada
    y de debe incluir el consentimiento informado.</p>
<h4>Relato etnográfico</h4>
<p>Es un texto narrativo que presenta una forma interpretativa de observar y acercarse a un contexto social concreto.
    Los hechos se narran en primera o en tercera persona. Admite un lenguaje literario con uso reiterativo de adjetivos
    para hacer énfasis en las descripciones. Presenta referencias de espacio y tiempo y discute con conceptos de las
    teorías sociales.</p>