<h2>Historia</h2>
<p>Al incorporarse al Departamento de Antropología de la Universidad de Antioquia, el profesor Darío Blanco notó la
    pertinencia, ante la carencia de un espacio similar, de crear una publicación que recogiera los trabajos de los
    estudiantes del departamento. Se puso en contacto con el entonces Vicedecano de la Facultad de Ciencias Sociales, el
    profesor Ramiro Delgado, quien le mencionó algunas experiencias previas similares, como la Revista Hurgar, y otra
    más reciente, la Revista Kogoró, que hasta el momento sólo había publicado su primer número por medios virtuales.
    Ramiro planteó dos caminos posibles: comenzar de cero o intentar retomar y dar continuidad al espacio logrado por
    Kogoró.</p>

<p>Después de algún tiempo con el proyecto archivado, el profesor Luis Vidal se unió a los esfuerzos de Darío, al
    motivar y venderle la idea a algunos estudiantes como Germán Negrette y Felipe Gallo, quienes conjuntamente
    comenzaron a generar acción. Este impulso logró concretarse en la primera reunión del comité editorial de la
    revista, que tuvo lugar hacia el año 2010. Posteriormente, en enero de 2011, se produjo la publicación del segundo
    número de la revista por medios digitales. Un año después, gracias a la financiación del del Banco Universitario de
    Programas y Proyectos de Extensión de la Universidad de Antioquia (BUPPE), se logró la publicación en papel de los
    números 3 y 4 de la revista. A partir de entonces, los números de la revista se han publicado en papel y por medios
    digitales.</p>

<p>En el 2012 vio la luz el proyecto de creación de una colección de naipes inspirada en las cartas infantiles de la
    década de los 1980, Star Collection. La colección denominada “Pensadores Sociales” se inauguró con el primer juego
    de naipes, de la serie: “Clásicos: primitivos y exóticos”. Unos años después, en el 2015, apareció la segunda serie:
    “Contemporáneos: misceláneos y complejos”. Este proyecto pretende proveer un material que permita el aprendizaje de
    los principales planteamientos teóricos, aspectos de la biografía, entre otros datos, de la vida de pensadores y
    pensadoras sociales claves en el desarrollo de la disciplina antropológica. </p>