<h2>Acerca del formato de los textos</h2>
<p>A continuación se presentan algunos parámetros para orientar a los autores en la presentación formal de sus textos y
    facilitar el proceso de unificación y modificación de los mismos para fines editoriales.</p>

<h4>Archivo</h4>
<p>Los documentos enviados deben estar en formato Word y estar configurados en tamaño carta y con márgenes de 2,5 cm. La
    fuente de los textos debe ser Times New Roman con tamaño de 12 puntos, interlineado de 1,5 cm y alineación
    justificada de todo el texto, excepto los títulos.</p>
<h4>Extensión</h4>
<p>Los artículos tienen un límite de 5.000 palabras incluyendo resumen y referencias. Las reseñas pueden tener un máximo
    de 3.000 palabras y los ensayos visuales de 1.000.</p>
<h4>Citas y referencias</h4>
<p>Respondiendo a la necesidad de referenciar las fuentes en los escritos académicos para no incurrir en plagio, la
    Revista Kogoró se guía por la versión adaptada del Centro de Escritura Javeriano de sexta edición de las normas APA,
    que está disponible en www.javerianacali.edu.co/centro-escritura/recursos/manual-de-normas-apa. En caso de
    requerirlo, es posible acceder al manual completo de la APA en www.apastyle.org.</p>
<h4>Notas al pie de página</h4>
<p>Pueden servir para hacer aclaraciones o aportar datos adicionales. Sólo deben usarse para la referenciación de
    fuentes bibliográficas cuando estas son documentos legales, fuentes de archivo o históricas, comunicaciones
    personales, observaciones no publicadas y artículos presentados en eventos y no publicados. La fuente debe ser Times
    New Roman, tamaño de 10 puntos, interlineado de 1 cm y alineación justificada.
</p>
<h4>Imágenes</h4>
<p>Las imágenes y los gráficos deben referenciarse con pie de foto o figura para que sea posible su correcta
    identificación e inclusión en el texto. Deben enviarse también en archivo separado del texto en formatos JPG, PNG en
    alta resolución (mayor a 900 KB). </p>