<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark brown darken-2">

    <mdb-navbar-brand>
        <a class="navbar-brand" href="#">
            <img src="https://mdbootstrap.com/img/logo/mdb-transparent.png" height="30" class="d-inline-block align-top"
                alt="Logo"></a>
    </mdb-navbar-brand>

    <links>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown hover-color" dropdown>
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light hover-color"
                    mdbWavesEffect>
                    Inicio<span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light hover-color" mdbWavesEffect href="#">Convocatorias</a>
                    <a class="dropdown-item waves-light hover-color" mdbWavesEffect href="#">Número actual</a>
                    <a class="dropdown-item waves-light hover-color" mdbWavesEffect href="#">Noticias/Eventos</a>
                    <a class="dropdown-item waves-light hover-color" mdbWavesEffect href="#">Frases de números publicadas</a>
                    <a class="dropdown-item waves-light hover-color" mdbWavesEffect href="#">Naipes</a>
                    <a class="dropdown-item waves-light hover-color" mdbWavesEffect href="#">Fotos de companeros</a>
                </div>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link waves-light hover-color" mdbWavesEffect>Números publicados</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link waves-light hover-color" mdbWavesEffect>Proceso de publicación</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link waves-light hover-color" mdbWavesEffect [routerLink]="['revista']">La revista</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link waves-light hover-color" mdbWavesEffect>Contacto</a>
            </li>
            <li class="nav-item dropdown hover-color" dropdown routerLinkActive="active">
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light"
                    mdbWavesEffect>
                    Archivo<span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light hover-color" mdbWavesEffect href="#">Multimedia</a>
                    <a class="dropdown-item waves-light hover-color" mdbWavesEffect href="#">Naipes</a>
                    <a class="dropdown-item waves-light hover-color" mdbWavesEffect href="#">Proyectos</a>
                </div>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link waves-light hover-color" mdbWavesEffect>Proceso de publicación</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link waves-light hover-color" mdbWavesEffect>Blog</a>
            </li>
        </ul>
    </links>

</mdb-navbar>