h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
p {
  font-weight: 400;
}

// #F9B234k amarillo
// #73372C cafe
.brown.darken-2 {
  background-color: #73372c !important;
}

.yellow {
  background-color: #f9b234 !important;
}
