<div class="animated fadeIn">
        <h3>¿Qué es Kogoró?</h3>
        <p>En la lengua Emberá Éyábida, Kogoró significa caracol. Este elemento funciona como medio de comunicación, en tanto
            llama y convoca a las personas en torno a un evento importante que requiera la presencia de la comunidad, que
            necesita la participación activa de los Embera. Así también, la revista busca poner en común la comunidad académica
            del Departamento de Antropología, promoviendo su labor investigativa y de difusión. Se apela al kogoró como un
            símbolo de conocimiento, discusión y trabajo.</p>
        <p>El espíritu que alienta e inspira nuestro quehacer como medio de divulgación, es la promulgación responsable y
            reflexiva del pensamiento antropológico contemporáneo representado en la producción académica de las nuevas
            generaciones con el interés de entablar diálogos respetuosos, críticos y propositivos entre los diferentes agentes
            que integran la comunidad académica.
        </p>
        <p>La formación de profesionales en ciencias sociales es una labor que implica múltiples responsabilidades, derivadas de
            la naturaleza compleja de su objeto de estudio y de su particular forma de proceder metodológico. Por tanto, no
            basta a un estudiante conocer los fundamentos epistemológicos o teóricos de su disciplina, ahondar en los problemas
            y discusiones contemporáneas, reconocer y saber aplicar los métodos y técnicas metodológicas o especializarse en un
            área determinada. El estudiante necesita de manera continua y responsable, involucrarse activamente en proyectos de
            investigación y procesos de escritura, dos actividades vitales e íntimamente relacionadas sin las que ningún
            profesional puede estar verdaderamente preparado para afrontar responsabilidades académicas en el ámbito laboral y
            ético. </p>
        <p>La promoción de la lectura a lo largo de la formación de pregrado es activa, especialmente en relación a la
            presentación de actividades evaluativas. Esto equivale a decir que la escritura se considera una condición necesaria
            para el desarrollo de actividades y competencias académicas, pero también lleva aparejado una limitación extrema de
            las labores de escritura a las aulas de clase y de las personas involucradas al alumno y el profesor. Lo anterior
            hace más fácil comprender por qué a medida en que los estudiantes rebasan las etapas de su formación producen una
            variedad de escritos bajo las formas de informes, ensayos, reflexiones, etnografías y hasta pequeñas investigaciones
            que nunca llegan a ser posteriormente revisadas, medianamente conocidas o mínimamente discutidas por personas
            diferentes al autor y el evaluador. Si partimos de reconocer las inmensas potencialidades de los estudiantes, sus
            muy variados conocimientos y sus ventajas relativas entre las que podríamos contar una mayor creatividad, una
            actitud profundamente crítica y una labor más autónoma, debemos decir también que la actitud generalmente promovida
            y asumida frente a la escritura de los estudiantes de pregrado conlleva una subvaloración y consecuente pérdida del
            conocimiento producido por estos, además de una disminución de las posibilidades de desarrollar todas sus
            capacidades.
        </p>
        <p>Una actitud diferente incluye necesariamente la creación de espacios para la publicación y discusión de la producción
            intelectual estudiantil. Sin embargo, pese a que los trabajos realizados por los estudiantes deben y merecen ser
            publicados, ésta resulta ser una tarea muy ardua y frecuentemente infructífera ya que, debido a las políticas de
            publicación impuestas en las revistas de circulación impresa, hay para estos muy poco acogimiento en los medios de
            difusión académicos, como revistas, boletines, entre otros. Por ello, surge la idea de publicación estudiantil, que
            además de ser un medio de difusión con gran proyección y acogida, permite la creación de espacios para la expresión
            de los estudiantes y demás académicos.</p>
        <p>La revista es un espacio para que los trabajos realizados con esfuerzo, dedicación y compromiso académico sean
            difundidos y en alguna medida sirvan a otros como un medio de adquisición de conocimiento en las diversas áreas de
            la antropología. De igual manera, la revista, tanto para quienes escriben en ella como para quienes la producen,
            servirá de entrenamiento para la actividad profesional tan necesitada hoy de comunicación autónoma y masiva. Kogoró
            es un espacio creado por estudiantes para estudiantes, que nace con la misión de permitir la discusión y la
            reflexión académica en torno a temas vinculados a la antropología. Esto, gracias a quienes día a día asisten a
            clases y dejan en el aula sus pensamientos, inquietudes y discusiones académicas, con un fin teórico-práctico y con
            la necesidad de no agotar estos pensamientos sólo en el aula, sino proyectarlos al exterior.
        </p>
</div>
