<h2>Sobre la estructura de los artículos</h2>

<h4>Título</h4>
<p>Los textos deben comenzar con el título en mayúscula sostenida, centrado y en negrilla.</p>

<h4>Identificación del autor</h4>
<p>El nombre de los autores debe estar en el formato de identificación (ver más adelante en este documento) y no en el
    texto a evaluar para asegurar el anonimato en la evaluación.</p>

<h4>Resumen</h4>
<p> Este apartado debe incluir una síntesis del tema de estudio, el desarrollo y las conclusiones. Tiene un máximo de
    200 palabras.</p>

<h4>Palabras clave</h4>
<p>Después de dos puntos se deben enumerar entre 4 y 6 conceptos que permitan evidenciar los temas principales del texto
    y que faciliten la clasificación bibliográfica del texto.</p>

<h4>Abstract</h4>
<p>Se recomienda que la redacción, en inglés, se conjugue en tiempo presente y tenga el mismo contenido que el resumen
    en español. Tiene un máximo de 200 palabras.</p>

<h4>Key Words</h4>
<p>Después de dos puntos se deben enumerar los conceptos equivalentes en inglés a las palabras clave utilizadas.</p>

<h4>Introducción</h4>
<p>Se sugiere que dentro de la redacción se haga explícita la intención u objetivo del texto, el tipo de texto, las
    aclaraciones pertinentes, la metodología propuesta, la delimitación espacio temporal y la importancia del contenido.
</p>

<h4>Cuerpo o resultados</h4>
<p>Se hará caso a la metodología propuesta en la introducción, por lo tanto, incluirá datos, teorías, opiniones,
    reflexiones y cualquier otro contenido que esté respaldado por bases teóricas y documentales citadas adecuadamente.
</p>

<h4>Conclusiones</h4>
<p>Este apartado es una recapitulación de las tesis centrales del texto, pero no debe ser una copia de los argumentos
    expuestos en el cuerpo o resultado del artículo, por lo que no debe contener frases completas que se repitan.
    También debe dar respuesta o finalización al texto.</p>

<h4>Referencias</h4>
<p>No tiene una limitación en cuanto a extensión, pero debe cumplir las normas establecidas para su construcción. Deben
    ir en formato sangría francesa de 1 cm.</p>