<footer class="page-footer font-small">

  <div class="yellow">
    <div class="container">

      <div class="row py-4 d-flex align-items-center">
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-2 mb-md-0">
          <h5 class="mb-0"> <b>¡Encuéntranos en nuestras redes sociales! </b> </h5>
        </div>
        <div class="col-md-6 col-lg-7 text-center text-md-right">
          <a class="fb-ic" href="https://www.facebook.com/kogoroudea/" target="_blank">
            <mdb-icon fab icon="facebook" size="2x" class="white-text mr-4"></mdb-icon>
          </a>
          <a class="ins-ic" href="https://www.instagram.com/revistakogoro/" target="_blank">
            <mdb-icon fab icon="instagram" size="2x" class="white-text mr-4"></mdb-icon>
          </a>
          <a class="li-yt">
            <mdb-icon fab icon="youtube" size="2x" class="white-text mr-4"></mdb-icon>
          </a>
        </div>
      </div>

    </div>
  </div>

  <div class="container text-center text-md-left mt-3">
    <div class="row mt-2">
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-2">
        <h6 class="text-uppercase font-weight-bold"> {{ info.journal.name }} </h6>
        <hr class=" accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; border-color: #dd8f5e">
        <p> {{ info.journal.description }}
        </p>
      </div>
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-2">
        <h6 class="text-uppercase font-weight-bold">Red de revistas de estudiantes de antropología</h6>
        <hr class="accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; border-color: #dd8f5e">
        <p>
          <a href="https://atarrayat.wixsite.com/atarraya/" target="_blank">Red Atarraya</a>
        </p>
        <p>
          <a href="https://antropologia.uniandes.edu.co/index.php/publicaciones/etnografo" target="_blank"> El
            etnógrafo</a>
        </p>
        <p>
          <a href="https://revistas.uniandes.edu.co/journal/antipoda" target="_blank">Antípoda</a>
        </p>
      </div>
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-2">
        <h6 style="font: #dd8f5e" class="text-uppercase font-weight-bold">Contáctenos</h6>
        <hr class="accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;  border-color: #8b6851">
        <p>
          <mdb-icon fas icon="home" class="mr-3"></mdb-icon> {{ info.contact.address }}
        </p>
        <p>
          <mdb-icon fas icon="envelope" class="mr-3"></mdb-icon> {{ info.contact.email }}
        </p>
        <p>
          <mdb-icon fas icon="phone" class="mr-3"></mdb-icon> + 01 234 567 88
        </p>
        <p>
          <mdb-icon fas icon="print" class="mr-3"></mdb-icon> + 01 234 567 88
        </p>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-2">© {{ year }} Copyright:
    <a href="https://mdbootstrap.com/education/bootstrap/"> Universidad de Antioquia </a>
  </div>
</footer>